body{
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	font-size:16px;
	margin: 0;
}

.container{
	width: 95%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	background-color: #24C4C4;
	color:#fff;
}
.main-title{
	float: left;
	display: inline;
}
.img-logo{
	float: left;
	padding: 15px;
	margin-top:6px;
}
#main-header a:hover{
	background-color: #24C4C4;
}
.nav-bar{
	
	background-color: #333;
	color: #fff;
	padding: 10px;
}

.nav-bar ul{	
	padding: 0;
	list-style: none;
}
.nav-bar li{
	padding: 5px;
	float: left;
}

.nav-bar a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 10px;
}
.nav-bar li a:hover{
	color: #00B359 !important;
	text-decoration: none;
	font-size: 20px;
	padding-right: 10px;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	background-color: #00B359;
}
.navbar li a, .navbar .navbar-brand {
	color: white !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #00B359 !important;
	float:right;
}
.nav-sign{
	padding-right:50px;
	color: #00B359 !important;
}

#show-case{
	background-image: url('../imgs/01.jpg');
	background-position: center right;
	min-height: 300px;
	text-align: center;
}

#show-case h1{
	color: #fff;
	font-size: 50px;
	padding-top: 30px;
	line-height: 1.6em;
}
.br{
	margin: 3px;
}
#search-jobs{
	margin: 0;
	padding:0;
	color:black;
	background-color: #333;
	float:left;
	width: 55%;
	height: 200px;
}

#search-jobs form{
	float: left;
	margin:0;
}

#search-jobs input[type="text"]{
	height: 40px;
	width: 400px ;
	padding: 5px;
}

.btn-1{
	background-color: #1BDF69;
	width:120px;
	border: none;
	border-radius: 25px;
	height: 40px;
	color: #333;
	padding: 0 20px;
	margin-left: 10px;	
}
.btn-2{
	background-color: rgb(128, 179, 148);
	width:120px;
	border: none;
	border-radius: 25px;
	height: 40px;
	color: #333;
	padding: 0 20px;
	margin-left: 10px;		
}
.right-post {
    width: 19%;
    float: right;
	margin-right:30px;
	margin-left:10px;
	}
.left-sidebar {
	color:black;
    width:19%;
    float:left;
	margin-right:10px;
	margin-left:30px;
} 
.sidebar table{
	color:blue;  
} 
.text_about{
    clear: both;
}

footer{
	margin-top: 5px;
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 30px;
	height: 30px;
}

















